<header>
    <nav role="navigation" class="navbar fixed-top navbar-light bg-light">
        <div class="header container">
            <!--Barra pc-->
            <div class="col-lg-12 barrapc">
                <img class="img-fluid width100" src="/assets/images/banner-hombre.jpg">
            </div>
            <!--Fin barra pc-->
            <!--Barra móvil-->
            <diV class="barramovil">
                    <!--Icono Hamburguesa-->
                    <div class="iconohamb">
                        <nav class="navbar">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidonavbar" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                                <img class="icon-menu" src="/assets/iconos/icon-menu.svg">
                            </button>
                        </nav>
                    </div>
                    <!--Fin icono hamburguesa-->
                    <!--Iconos busqueda y carrito-->
                    <div class="d-flex align-items-center">
                        <a class="text-reset me-3" href="#">
                            <img class="iconosder" src="/assets/iconos/search.svg">
                        </a>
                        <a class="text-reset me-3" href="#">
                            <img class="iconocarrito" src="/assets/iconos/CarritoVacio.svg">
                        </a>
                    </div>
                    <!--Fin iconos busqueda y carrito-->
            </diV>
            <!--Fin barra móvil-->
        </div>
    </nav>
    </header>